<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.skitii.ibatis.test.dao.UserDao">

    <cache eviction="FIFO" flushInterval="600000" size="512" readOnly="true"/>

    <resultMap id="userMap" type="org.skitii.ibatis.test.domain.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="user_email" property="userEmail"/>
    </resultMap>

    <select id="queryUserInfoById" parameterType="java.lang.Long" resultMap="userMap" flushCache="false" useCache="true">
        SELECT id, name, age, user_email
        FROM t_user
        where id = #{id}
    </select>

    <select id="queryUserList" resultType="org.skitii.ibatis.test.domain.User">
        SELECT id, name, age
        FROM t_user
    </select>

    <select id="queryName" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT name
        FROM t_user
        where id = #{id}
    </select>

    <insert id="insertUser" parameterType="org.skitii.ibatis.test.domain.User">
        INSERT INTO t_user (name, age)
        VALUES (#{name}, #{age})

        <selectKey keyProperty="id" order="AFTER" resultType="long">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="dynamicQueryByUserCondition" parameterType="org.skitii.ibatis.test.domain.User" resultType="org.skitii.ibatis.test.domain.User">
        SELECT id, name, age, user_email
        FROM t_user
        <trim prefix="WHERE" prefixOverrides="AND | OR" suffixOverrides="and">
            <if test="null != id">
                id = #{id}
            </if>
            and
            <if test="null != name">
                name = #{name}
            </if>
        </trim>
    </select>

</mapper>